<% layout('/layouts/boilerplate.ejs') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
    <h3>Add new listing</h3>
    <br>
    <form action="/home" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="listing[title]" placeholder="Enter title" required> 
        <div class="invalid-feedback">Invalid title</div> <br>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="listing[price]" placeholder="Enter price" required>
            <div class="invalid-feedback">Price invalid</div> <br>
    </div>
    <div class="col-md-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" name="listing[country]" placeholder="Enter country" required>
        <div class="invalid-feedback">Country name invalid</div> <br>
    </div>
    
    </div>
   
<div>
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="listing[location]" placeholder="Enter location" required>
        <div class="invalid-feedback">Location invalid</div> <br>
    </div>
    
    <!-- <div>
        <label for="image" class="form-label">Image</label>
        <input type="text" class="form-control" name="listing[image]" placeholder="enter image url">
         <br>
    </div> -->
    <div>
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" class="form-control" name="listing[image]" required>
         <br>
    </div>
    <div>
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" cols="30" rows="3" required></textarea>
        <div class="invalid-feedback">Enter valid description</div>
    </div>
    <br><br>
<button class="btn btn-dark add-btn">Save</button>
<br> <br>
    </form>
</div>
</div>
</body>
